@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";

:root {
    --bg-color: #333;
    --primary: #fd4;
    --secondary: #f2f2f2;
}

body {
    background: var(--bg-color);
    font-family: "Roboto Mono", sans-serif;
    font-weight: 600;
    color: var(--secondary);
}

.main-heading {
    color: var(--primary);
    align-items: center;
}

.main-heading svg {
    width: 50px;
    fill: var(--primary);
}

.timer button:hover {
    color: var(--primary);
    cursor: pointer;
}